 /* Возможно кнопка в дальнейшем */
.photo__button {
  border: 0;
  padding: 0;
  background-color: #fff;
}

.photo__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.photo__button:focus {
  outline: none;
}
